[submodule "thespis_iface"]
	path = thespis
	url = git@github.com:thespis-rs/thespis_iface.git
[submodule "thespis_impl"]
	path = thespis_impl
	url = git@github.com:thespis-rs/thespis_impl.git
[submodule "thespis_derive"]
	path = thespis_derive
	url = git@github.com:thespis-rs/thespis_derive.git
[submodule "thespis_remote"]
	path = thespis_remote
	url = git@github.com:thespis-rs/thespis_remote.git
[submodule "thespis_guide"]
	path = thespis_guide
	url = git@github.com:thespis-rs/thespis_guide.git
