[submodule "thespis_iface"]
	path = thespis_iface
	url = git@github.com:thespis-rs/thespis_iface.git
[submodule "thespis_impl"]
	path = thespis_impl
	url = git@github.com:thespis-rs/thespis_impl.git
[submodule "thespis_derive"]
	path = thespis_derive
	url = git@github.com:thespis-rs/thespis_derive.git
[submodule "thespis_iface_remote"]
	path = thespis_iface_remote
	url = git@github.com:thespis-rs/thespis_iface_remote.git
[submodule "thespis_impl_remote"]
	path = thespis_impl_remote
	url = git@github.com:thespis-rs/thespis_impl_remote.git
[submodule "thespis_guide"]
	path = thespis_guide
	url = git@github.com:thespis-rs/thespis_guide.git
[submodule "thespis_impl_runtime"]
	path = thespis_impl_runtime
	url = git@github.com:thespis-rs/thespis_impl_runtime.git
[submodule "thespis_iface_runtime"]
	path = thespis_iface_runtime
	url = git@github.com:thespis-rs/thespis_iface_runtime.git
